body{
    font-family: "Helvetica Neue";
    background-color: rgba(211, 211, 211, 0.908);
}

input {
    margin: 10px;
}

input::placeholder{
    color: red;
    font-size: 12px;
}

input:invalid + span::after{
    content: '✖';
    color: red;
}

input:valid + span::after{
    content: '✓';
    color: green;
}